{% extends 'base.html' %} {% block content %}
<div class="container mt-5">
  <h1 class="text-center">Support Us</h1>
  <p class="text-center">
    If you like our content and want to support us, consider buying us a coffee!
  </p>
  <div class="text-center">
    <!-- Insert your Buy Me a Coffee button code here -->
    <a href="https://www.buymeacoffee.com/jtor" target="_blank">
      <img
        src="/static/images/bmc-button.png"
        alt="Buy Me a Coffee"
        style="height: 60px; width: 217px"
      />
    </a>
  </div>
</div>
<br /><br />

{% endblock %}
